
.main{
    height: 100vh;
}

.sidebar{
    background-color:rgb(208, 243, 12);
    color: #fff;
}

.sidebar a{
    text-decoration: none;
    display: block;
    color:#fff;
    padding: 20px 50px;
}

.sidebar a:hover {
 background-color: rgba(75, 100, 5, 0.527);
}

.sidebar a.active{
    background-color:#000;
    border-right: solid 4px orange;
}

.content{
    padding: 10px;
}

/* end navbar */

.card-data{
    border: solid 1px;
    color:rgb(63, 63, 63);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-data.book{
    background-color: rgb(232, 238, 230);
}

.card-data i{
    font-size: 50px;
}

.card-desc{
    font-size: 20px;
}

.card-count{
    font-size: 20px;
}



/*-----*/

.collapse li:hover{
    background-color: rgba(241, 243, 235, 0.527);
}

/*-----*/